<Configuration status="warn" name="FFC-Airsync" packages="ffc.airsync">
    <Properties>
        <Property name="filename">log/ffc-airsync.log</Property>
    </Properties>


    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %-5c{1} - %m%n"/>
        </Console>
    </Appenders>

    <Appenders>
        <RollingFile name="FileRolling" fileName="${filename}"
                     filePattern="log/ffc-airsync.%d{dd-MMM-yyyy-HH:mm}.%i.log.gz">
            <PatternLayout>
                <pattern>%d %-5p [%t] %-5c{1} - %m%n</pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="1MB"/>
            <DefaultRolloverStrategy max="50"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="FileRolling"/>
        </Root>
    </Loggers>
</Configuration>
