<Configuration status="warn" name="FFC-Airsync" packages="ffc.airsync">

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %-5c{1} - %m%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="log/ffc-airsync.log"
                     filePattern="log/ffc-airsync.%d{dd-MMM-yyyy-HH:mm}.%i.log.gz">
            <PatternLayout>
                <pattern>%d %-5p [%t] %-5c{1} - %m%n</pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="1MB"/>
            <DefaultRolloverStrategy max="50"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="RollingFile" level="INFO"/>
        </Root>
    </Loggers>

</Configuration>
